<ion-header>
  <ion-toolbar>
    <ion-title>Biblioteca de Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <ion-searchbar placeholder="Buscar livros..." (ion-input)="buscar($event)"></ion-searchbar>


  <ion-list class="ion-margin-top">
    <ion-list-header>Adicionar / Editar Livro</ion-list-header>
    <ion-item>
      <ion-input label="Título" labelPlacement="floating" [(ngModel)]="novoTitulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Autor" labelPlacement="floating" [(ngModel)]="novoAutor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Ano" labelPlacement="floating" [(ngModel)]="novoAno" type="number"></ion-input>
    </ion-item>

    <ion-button class="ion-margin-top" (click)="adicionar()">{{ editingId ? 'Salvar alterações' : 'Adicionar' }}</ion-button>
    <ion-button *ngIf="editingId" class="ion-margin-top" color="medium" (click)="cancelarEdicao()">Cancelar</ion-button>
  </ion-list>


  <ion-list class="ion-margin-top">
    <ion-list-header>Livros</ion-list-header>

    
    <ion-item *ngFor="let p of (livros$ | async)">
      <ion-label>
        <div><b>{{ p.titulo }}</b></div>
        <div style="font-size:12px">Autor: {{ p.autor }} <span *ngIf="p.ano">• Ano: {{ p.ano }}</span></div>
      </ion-label>

      <ion-button slot="end" size="small" (click)="iniciarEdicao(p)">Editar</ion-button>
      <ion-button slot="end" size="small" color="danger" (click)="excluir(p)">Excluir</ion-button>
    </ion-item>

    <ion-item *ngIf="(livros$ | async)?.length === 0">
      Nenhum livro cadastrado.
    </ion-item>
  </ion-list>
</ion-content>
